<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Illuminate Lms">
    <meta name="author" content="Illuminate Lms">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.36/js/uikit.min.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.36/js/uikit-icons.min.js"></script> -->
    <!-- <script asp-src-include="~/uikit.min.js"></script> -->
    <!-- <script asp-src-include="~/uikit-icons.min.js"></script> -->

    <title>@ViewData["Title"]</title>
    @RenderSection("Styles", false)
</head>

<body>
@RenderBody()
@RenderSection("scripts", required: false)
</body>
</html>
