@{
    ViewData["Title"] = "Home Page";
}

<div id="root"></div>
<script asp-src-include="~/index.js"></script>

@section Styles{
    <link rel="stylesheet" href='@Url.Content("~/index.css")' />
}